			{{ with .Site.Data.resume.profile }}
			<header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
					<!--
				    <img class="mr-3 img-fluid picture mx-auto" src="{{ .Site.BaseURL }}assets/images/{{ .image }}" alt="">
					-->
					<div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ .name }}</h1>
						    <div class="title mb-3">{{ .tagline | markdownify }}</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ .email }}</a></li>
							    <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>{{ .phone }}</a></li>
						    </ul>
                        </div><!--//primary-info-->
                        <div class="secondary-info ml-md-auto mt-2">
                            <ul class="resume-social list-unstyled">
                            {{ range .contact }}
                                <li class="mb-3"><a href="{{ .url }}" target="_blank"><span class="fa-container text-center mr-2"><i class="{{ .icon }} fa-fw"></i></span>{{ .title }}</a></li>
                            {{ end }}
                            </ul>
                        </div><!--//secondary-info-->
				    </div><!--//media-body-->
			    </div><!--//media-->
			</header>
			{{ end }}
